body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  overflow-y: auto;
}

form input {
  display: block;
  margin-bottom: 1%;
}

.menu-content {
  padding: 1rem;
  overflow-x: hidden;
}

.menu-item:hover,
.menu-item.back-item:hover {
  background-color: #cff2f2;
}

.back-item {
  background-color: #eef0f0;
}

.menu-item {
  padding: 0.75rem 1.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  text-align: left;
  font-size: 1.25em;
  cursor: pointer;
}

.content-panel {
  padding: 1rem;
}

.footnote {
  font-size: 8px;
}
