body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  overflow-y: auto;
}

form input {
  display: block;
  margin-bottom: 1%;
}

.menu-content {
  padding: 1rem;
  overflow-x: hidden;
}

.menu-item:hover,
.menu-item.back-item:hover {
  background-color: #cff2f2;
}

.back-item {
  background-color: #eef0f0;
}

.menu-item {
  padding: 0.75rem 1.25rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  text-align: left;
  font-size: 1.25em;
  cursor: pointer;
}

.content-panel {
  padding: 1rem;
}

.footnote {
  font-size: 8px;
}

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #222;
  opacity: 50%;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
